In [1]:
import pandas as pd
import numpy as np

In [5]:
# print the version of pandas
pd.__version__

'1.1.3'

In [6]:
# Create a series from on array

ser = pd.Series([0.25, 0.5, 0.75, 1.0]) # constructor method
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
# Two main attributes: 'values' and 'index'
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [13]:
# Label-based Indexing

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser)

print(ser['a'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.25

In [15]:
population_dict = {'California': 38332521,
'Texas': 26448193,
"New York": 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)
print(population)

print(population['California' : 'New York'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [16]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
# Construct a DataFrame containing 'population' and 'area' Series

states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index, '\n')
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [21]:
# Construct a DataFrame from a 2D Numpy array

arr = np.random.rand(3,2)
print(arr, '\n')

df = pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])
print(df)

[[0.98620889 0.47149011]
 [0.1912626  0.23962446]
 [0.29056445 0.11233132]]

        foo       bar
a  0.986209  0.471490
b  0.191263  0.239624
c  0.290564  0.112331

In [24]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

print(ser, '\n')
print('a' in ser)
print(0.25 in ser)
print(ser.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

True
False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [26]:
print(ser.keys())
ser['e'] = 1.25 
ser['a'] = 0.125
print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [28]:
states['density'] = states['population'] / states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [31]:
# Indexer; loc, iloc

states.loc['Texas' : 'Florida']

          population    area     density
Texas       26448193  695662   38.018740
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121

In [32]:
#Masking and fancy indexing using the loc indexer

print(states.loc[states.density > 100, ['population', 'density']],  '\n')

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121