In [1]:
import pandas as pd
import numpy as np
from pandas import datetime
from matplotlib import pyplot as plt

<ipython-input-1-0c95b2fc7292>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [3]:
pd.read_csv("AirQualityUCI_refined.csv")

,Datetime,CO(GT),PT08.S1(CO),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),RH,AH,C6H6(GT)
0,2004-03-10 18:00:00,2.6,1360.0,1046.0,166.0,1056.0,113.0,1692.0,1268.0,48.9,0.7578,11.9
1,2004-03-10 19:00:00,2.0,1292.0,955.0,103.0,1174.0,92.0,1559.0,972.0,47.7,0.7255,9.4
2,2004-03-10 20:00:00,2.2,1402.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,54.0,0.7502,9.0
3,2004-03-10 21:00:00,2.2,1376.0,948.0,172.0,1092.0,122.0,1584.0,1203.0,60.0,0.7867,9.2
4,2004-03-10 22:00:00,1.6,1272.0,836.0,131.0,1205.0,116.0,1490.0,1110.0,59.6,0.7888,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04 10:00:00,3.1,1314.0,1101.0,472.0,539.0,190.0,1374.0,1729.0,29.3,0.7568,13.5
9353,2005-04-04 11:00:00,2.4,1163.0,1027.0,353.0,604.0,179.0,1264.0,1269.0,23.7,0.7119,11.4
9354,2005-04-04 12:00:00,2.4,1142.0,1063.0,293.0,603.0,175.0,1241.0,1092.0,18.3,0.6406,12.4
9355,2005-04-04 13:00:00,2.1,1003.0,961.0,235.0,702.0,156.0,1041.0,770.0,13.5,0.5139,9.5
9356,2005-04-04 14:00:00,2.2,1071.0,1047.0,265.0,654.0,168.0,1129.0,816.0,13.1,0.5028,11.9

In [4]:
def parser(x):
    return datetime.strptime(x, '%Y-%m-%d %H:%M:%S')



df = pd.read_csv("AirQualityUCI_refined.csv",
                 index_col=[0],
                 parse_dates=[0],
                 date_parser=parser)
df.head()

,CO(GT),PT08.S1(CO),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),RH,AH,C6H6(GT)
Datetime,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,1046.0,166.0,1056.0,113.0,1692.0,1268.0,48.9,0.7578,11.9
2004-03-10 19:00:00,2.0,1292.0,955.0,103.0,1174.0,92.0,1559.0,972.0,47.7,0.7255,9.4
2004-03-10 20:00:00,2.2,1402.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,54.0,0.7502,9.0
2004-03-10 21:00:00,2.2,1376.0,948.0,172.0,1092.0,122.0,1584.0,1203.0,60.0,0.7867,9.2
2004-03-10 22:00:00,1.6,1272.0,836.0,131.0,1205.0,116.0,1490.0,1110.0,59.6,0.7888,6.5

In [5]:
# Visualization setup
%matplotlib
%config InlineBackend.figure_format = 'svg'

from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = [10, 5]
plt.ion() # enable the interactive mode

import seaborn as sns
sns.set()  # set plot styles

Using matplotlib backend: Qt5Agg

In [6]:
# Visualize the 'CO(GT)' column
df['CO(GT)'].interpolate(inplace=True)

In [7]:
"""
Binning
"""

max_val = df['CO(GT)'].max()
min_val = df['CO(GT)'].min()
print(max_val, min_val)

# Make interval values
bins = np.linspace(min_val, max_val, 6)
bins

# Labels for each bin
labels=['0 <=x<2.38', '2.38<=x<4.76', '4.76<=x<7.14',
       '7.14<=x<9.52', '9.52<=x<11.9']


# Convert the numerical values into the categorical values
df['bins'] = pd.cut(df['CO(GT)'], bins=bins,
                    labels=labels, include_lowest=True)
df.info()

# Print bins
df['bins'][:50]


# Visualize the histogram of bins
plt.hist(df['bins'], bins=5)
plt.show()

11.9 0.0
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9357 entries, 2004-03-10 18:00:00 to 2005-04-04 14:00:00
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    8991 non-null   float64
 2   PT08.S2(NMHC)  8991 non-null   float64
 3   NOx(GT)        7718 non-null   float64
 4   PT08.S3(NOx)   8991 non-null   float64
 5   NO2(GT)        7715 non-null   float64
 6   PT08.S4(NO2)   8991 non-null   float64
 7   PT08.S5(O3)    8991 non-null   float64
 8   RH             8991 non-null   float64
 9   AH             8991 non-null   float64
 10  C6H6(GT)       9357 non-null   float64
 11  bins           9357 non-null   category
dtypes: category(1), float64(11)
memory usage: 886.6 KB

In [8]:
"""
Log Transform
"""

# Distribution of original data
sns.distplot(df['PT08.S3(NOx)'])


# Calculate natural logarithm on 'CO(GT)' column
df['log'] = np.log10(df['PT08.S3(NOx)'])


# Min values for each column
df.min()


# Distribution after log transform
sns.distplot(df['log'])
plt.xlabel('log(PT08.S3(NoX))')
plt.show()

C:\Users\wjdck\anaconda3\lib\site-packages\seaborn\distributions.py:2551: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)
C:\Users\wjdck\anaconda3\lib\site-packages\seaborn\distributions.py:2551: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [9]:
"""
One-hot Encoding
"""

# Make a dataset

emp_id = pd.Series([1, 2, 3, 4, 5])
gender = pd.Series(['Male', 'Female', 'Female', 'Male', 'Female'])
remarks = pd.Series(['Nice', 'Good', 'Great', 'Great', 'Nice'])

df_emp = pd.DataFrame()
df_emp['emp_id'] = emp_id
df_emp['gender'] = gender
df_emp['remarks'] = remarks

# Print DataFrame
df_emp

# Print unique values for each column
print(df_emp['emp_id'].unique())
print(df_emp['gender'].unique())
print(df_emp['remarks'].unique())

# One-hot encoding the categorial values
df_emp_encoded = pd.get_dummies(
    df_emp, columns = ['gender', 'remarks'])

df_emp_encoded

[1 2 3 4 5]
['Male' 'Female']
['Nice' 'Good' 'Great']

,emp_id,gender_Female,gender_Male,remarks_Good,remarks_Great,remarks_Nice
0,1,0,1,0,0,1
1,2,1,0,1,0,0
2,3,1,0,0,1,0
3,4,0,1,0,1,0
4,5,1,0,0,0,1

In [10]:
"""
Normalization
"""

# Visualize two columns of different scales
plt.plot(df['CO(GT)'], label='CO')
plt.plot(df['PT08.S2(NMHC)'], label='NMHC')
plt.legend(loc='best')


# Normalize the 'CO(GT)' column
co = df['CO(GT)'].copy()
co_max = co.max()
co_min = co.min()

df['CO_Norm'] = (co - co_min) / (co_max - co_min)
df['CO_Norm']


# Normalize the 'PT08.S2(NMHC)' column
nmhc = df['PT08.S2(NMHC)'].copy()
nmhc_max = nmhc.max()
nmhc_min = nmhc.min()

df['NMHC_Norm'] = (nmhc - nmhc_min) / (nmhc_max - nmhc_min)
df['NMHC_Norm']


# Visualized normalized columns
plt.plot(df['CO_Norm'], label='CO (normalized)')
plt.plot(df['NMHC_Norm'], label='NMHC (normalized)')
plt.legend(loc='best')

Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backends\backend_qt5.py", line 480, in _draw_idle
    self.draw()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py", line 407, in draw
    self.figure.draw(self.renderer)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\artist.py", line 41, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\figure.py", line 1863, in draw
    mimage._draw_list_compositing_images(
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\image.py", line 131, in _draw_list_compositing_images
    a.draw(renderer)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\artist.py", line 41, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py", line 411, in wrapper
    return func(*inner_args, **inner_kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 2707, in draw
    self._update_title_position(renderer)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 2638, in _update_title_position
    bb = ax.xaxis.get_tightbbox(renderer)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axis.py", line 1109, in get_tightbbox
    ticks_to_draw = self._update_ticks()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axis.py", line 1021, in _update_ticks
    major_locs = self.get_majorticklocs()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axis.py", line 1283, in get_majorticklocs
    return self.major.locator()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 1335, in __call__
    dmin, dmax = self.viewlim_to_dt()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 1090, in viewlim_to_dt
    return num2date(vmin, self.tz), num2date(vmax, self.tz)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'

In [11]:
"""
Feature Split
"""

# Make untidy movie data
movies = pd.Series(["The Godfather, 1972, Francis Ford Coppola",
                    "Contact, 1997, Robert Zemeckis",
                   "Parasite, 2019, Joon-ho Bong"])

movies

0    The Godfather, 1972, Francis Ford Coppola
1               Contact, 1997, Robert Zemeckis
2                 Parasite, 2019, Joon-ho Bong
dtype: object

In [12]:
# Divide movie data into title, year, director columns

lst_title = []
lst_year = []
lst_director = []

for val in movies:
    title, year, director = val.split(',')  # data split
    lst_title.append(title)
    lst_year.append(year)
    lst_director.append(director)

print(lst_title)
print(lst_year)
print(lst_director)

['The Godfather', 'Contact', 'Parasite']
[' 1972', ' 1997', ' 2019']
[' Francis Ford Coppola', ' Robert Zemeckis', ' Joon-ho Bong']

In [13]:
# Make a DataFrame object
df_movie = pd.DataFrame()
df_movie['title'] = lst_title
df_movie['year'] = lst_year
df_movie['director'] = lst_director

df_movie

           title   year               director
0  The Godfather   1972   Francis Ford Coppola
1        Contact   1997        Robert Zemeckis
2       Parasite   2019           Joon-ho Bong

Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'
Traceback (most recent call last):
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\cbook\__init__.py", line 224, in process
    func(*args, **kwargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\backend_bases.py", line 2990, in mouse_move
    s = event.inaxes.format_coord(event.xdata, event.ydata)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3703, in format_coord
    xs = self.format_xdata(x)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\axes\_base.py", line 3685, in format_xdata
    return (self.fmt_xdata if self.fmt_xdata is not None
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 265, in format_data_short
    return self.format_data(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\ticker.py", line 257, in format_data
    return self.__call__(value)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 938, in __call__
    result = self._formatter(x, pos)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 615, in __call__
    return num2date(x, self.tz).strftime(self.fmt)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 521, in num2date
    return _from_ordinalf_np_vectorized(x, tz).tolist()
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2108, in __call__
    return self._vectorize_call(func=func, args=vargs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\numpy\lib\function_base.py", line 2192, in _vectorize_call
    outputs = ufunc(*inputs)
  File "C:\Users\wjdck\anaconda3\lib\site-packages\matplotlib\dates.py", line 361, in _from_ordinalf
    dt = dt.astimezone(tz)
TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'